@using Blazor.Diagrams.Components.Renderers
@using Blazor.Diagrams.Core.Models
@using Hasm.Services
@inject DialogService DialogService
@inherits ComponentBase

<div class="default-node @(Node.Group != null ? "grouped" : "") @(Node.Selected ? "selected" : "")" style="position: relative;">
    <strong>@(Node.Title ?? "Title")</strong>
    @foreach (var port in Node.Ports)
    {
        <PortRenderer @key="port" Port="port" Class="default"></PortRenderer>
    }
    <div style="position: absolute; right: 8px; bottom: 8px; z-index: 1;">@GetPayloadText()</div>
</div>

@code {
    [Parameter]
    public StepNodeModel Node { get; set; } = null!;

    string GetPayloadText()
    {
        if (Node.Step.Payload == null)
        {
            return "null";
        }
        else if (Node.Step.Payload is string text)
        {
            return $"'{text}'";
        }
        else
        {
            return Node.Step.Payload.ToString() ?? "";
        }
    }
}